@{
    ViewData["Title"] = "Home";
}

<div class="container text-center mt-5">
    <h1 class="mb-4">Welcome to SuperMarket</h1>

    <div class="d-grid gap-3 col-6 mx-auto">
        <a class="btn btn-primary btn-lg" asp-controller="Products" asp-action="Index">View Products</a>
        <a class="btn btn-dark btn-lg" asp-controller="AdminProtal" asp-action="Index">Admin Center</a>
    </div>
</div>
